$primary-background: hsla(280, 80%, 10%, 1);
$active-background: hsla(280, 50%, 30%, 1);

$strong-contrast: hsla(280, 50%, 80%, 1);
$main-contrast: hsla(280, 50%, 60%, 1);
$faint-contrast: hsla(50, 50%, 20%, 1);


html {
	background: $primary-background;
	color: $strong-contrast;
}

.tabs {
	float: left;
	padding-left: 0px 2px 2px 2px;
	margin: 0px;
	padding: 2px;
	display: inline-block;
	border-top: 3px solid hsla(50, 50%, 20%, 1);
	background-color: hsla(50, 0%, 100%, 0.1);
	min-width: 100px;
	
	li {
		margin: 2px;
		padding: 5px;
		color: $main-contrast;
		border: 1px solid $faint-contrast;
		list-style-type: none;
	}
	
	li:hover, li.selected {
		cursor: pointer;
		background-color: $active-background;
		color: $strong-contrast;
	}
}


.post {
	float: left;
	margin-left: 20px;
	padding: 20px;
	width: 50%;
	background-color: hsla(0, 0%, 100%, 0.1);
	
	input.header {
		font-size: 2em;
	}
	
	input, textarea {
		width: 100%;
		background-color: hsla(0, 0%, 100%, 0.1);
		border: 1px solid $faint-contrast;
		color: $strong-contrast;
	}
}
