html {
  background: #b3bbe6; }

#tabs {
  border: 2px solid #bfaa40;
  padding: 2px;
  display: inline-block; }
  #tabs ul {
    padding-left: 0px;
    margin: 0px; }
  #tabs li {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    color: red;
    border: 1px solid #bfaa40; }
  #tabs li:hover {
    cursor: pointer;
    background-color: #6688cc; }
