@import '../../app_style.scss';

.tabs {
	animation: fadein 0.5s;
	float: left;
	margin: 5px;
	padding: 10px 2px 2px 2px;
	display: inline-block;
	border-top: 5px solid $border;
	background: $foreground;
	width: 275px;
}
