$primary-background: hsla(280, 80%, 10%, 1);
$active-background: hsla(280, 50%, 30%, 1);

$strong-contrast: hsla(280, 50%, 80%, 1);
$main-contrast: hsla(280, 50%, 60%, 1);
$faint-contrast: hsla(50, 50%, 20%, 1);


html {
	background: $primary-background;
}

#tabs {
	border: 2px solid $faint-contrast;
	padding: 2px;
	display: inline-block;
	
	ul {
		padding-left: 0px;
		margin: 0px;
	}
	
	li {
		display: inline-block;
		margin: 2px;
		padding: 5px;
		color: $main-contrast;
		border: 1px solid $faint-contrast;
	}
	
	li:hover {
		cursor: pointer;
		background-color: $active-background;
		color: $strong-contrast;
	}
}
